<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbLf7z52EzyUJqYavffk7ekbUTJBuZYQU</string>
	<key>GCM_SENDER_ID</key>
	<string>191338439197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.new-age.Drinkathon</string>
	<key>PROJECT_ID</key>
	<string>drinkinggame-f4a20</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkinggame-f4a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191338439197:ios:fba418cba0c41baee01cf4</string>
</dict>
</plist>